<div *ngIf="!showRules" class="sudoku-main">
    <div class="sudoku-left-side">
        <button class="ai-btn mt-20" (click)="aiPlays()">AI Plays</button>
        <span class="sudoku-legend-title mt-20">Legend:</span>
        <div class="sudoku-legend mt-20">
            <span class="sudoku-legend-span">
              <div class="legend-box sudoku-cell-last"></div>
              <span> Only one possible number for cell</span>
            </span>
            <span class="sudoku-legend-span">
              <div class="legend-box sudoku-avialable-zero"> </div>
              <span> No avilable number for cell (error in previous moves)</span>
            </span>
            <span class="sudoku-legend-span">
                <div class="legend-box sudoku-few-choices"> </div>
                <span>Few available moves</span>
            </span>
        </div>
        <button *ngIf="won" class="play-again-btn" (click)="reload()">Play again</button>
    </div>

    <div class="sudoku-puzzle-{{size}}00">
        <div *ngFor="let item of lstSudoku; let i = index">
            <div class="sudoku-cell" [ngClass]="{'sudoku-cell-color': item.cell_number!==0,
             'sudoku-cell-last': item.availableNumbers.length === 1,
             'sudoku-avialable-zero': item.availableNumbers.length === 0}" (mouseleave)="hide(item)">
                <div class="sudoku-cell-number">{{item.cell_number!==0 ? item.cell_number : ''}}</div>
                <div>
                    <button (click)="showNextMove(item);" class="sudoku-cell-btn-help">Help</button>
                    <button (click)="return(item);" class="sudoku-cell-btn-return" *ngIf="item.cell_number!==0">Return</button>
                </div>
                <div class="popUp" *ngIf="item.details">
                    <div *ngFor="let number of lst">
                        <button (click)="assign(item,number)">{{number}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showRules" class="rules">
    Sudoku are easy to learn yet highly addictive language-independent logic puzzles which have recently taken the whole world by storm. Using pure logic and requiring no math to solve, these fascinating puzzles offer endless fun and intellectual entertainment
    to puzzle fans of all skills and ages.
    <br><br>The Classic Sudoku is a number placing puzzle based on a 9x9 grid with several given numbers. The object is to place the numbers 1 to 9 in the empty squares so that each row, each column and each 3x3 box contains the same number only once.
    Sudoku puzzles come in endless number combinations and range from very easy to extremely difficult taking anything from five minutes to several hours to solve. Sudoku puzzles also come in many variants, each variant looking differently and each variant
    offering a unique twist of brain challenging logic.
    <br><br>However, make one mistake and you’ll find yourself stuck later on as you get closer to the solution
    <br><br><span class="have-fun">HAVE FUN ! ! !</span>
    <button routerLink="/" class="back-btn">BACK</button>
</div>